# long.config
# Torque queue config for workstation
# cat long.config | qmgr
#
# basic settings
#
set queue long queue_type = execution
set queue long keep_completed = 300
set queue long priority = 1
set queue long resources_default.walltime = 24:00:00
set queue long resources_default.ncpus = 4
set queue long resources_max.ncpus = 32
#
# settings that affect the user!
#
set queue long max_user_queuable = 128
set queue long max_user_run = 32
#
# enable and start the queues
#
set queue long enabled = True
set queue long started = True
