# priority.config
# Torque queue config for workstation
#
# the following line creates the queue
# it should already have beeen run!
# qmgr -c create queue priority
#
# basic settings
#
set queue priority queue_type = execution
set queue priority keep_completed = 300
set queue priority priority = 1023
set queue priority resources_default.walltime = 1:00:00
set queue priority resources_default.ncpus = 4
set queue priority resources_max.ncpus = 32
#
# settings that affect the user!
#
set queue priority max_user_queuable = 2
#
# enable and start the queues
#
set queue priority enabled = True
set queue priority started = True
