# short.config
# Torque queue config for workstation
# cat short.config | qmgr
#
# basic settings
#
set queue short queue_type = execution
set queue short keep_completed = 300
set queue short priority = 512
set queue short resources_default.walltime = 00:10:00
set queue short resources_default.ncpus = 4
set queue short resources_max.ncpus = 32
#
# settings that affect the user!
#
set queue short max_user_queuable = 8
set queue short resources_max.walltime = 02:00:00
#
# enable and start the queues
#
set queue short enabled = True
set queue short started = True
